<mat-card class="mat-elevation-z8">

    <mat-card-header>
        <mat-card-title>All Positions</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <button mat-raised-button color="primary" class="float-right mb-1" (click)="addPosition()" *ngIf="!isAddPosition"> <mat-icon>add</mat-icon> New Position</button>

      <button #listPositions mat-raised-button color="accent" class="float-right mb-1" (click)="listPosition()" *ngIf="isAddPosition" > <mat-icon>toc</mat-icon> List Position</button>

      <div class="row" style="width:100%" >

        <div [ngClass]="listPositionColumn" >
          <div *ngIf="isLoading; else elseBlock" >
            <ngx-skeleton-loader
            count="5"
            [theme]="{
              width: '90%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }"
          ></ngx-skeleton-loader>
          </div>
       
    
           <ng-template #elseBlock>
             
            <table mat-table [dataSource]="dataSource"  >
    
              
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
            
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Position Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Created At  </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'mediumDate'}} </td>
              </ng-container>
    

            
              <!-- Symbol Column -->
              <ng-container matColumnDef="actions" style="display: none">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-button [matMenuTriggerFor]="belowMenu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="viewPosition(element)">
                      <mat-icon>visibility</mat-icon>
                      <span>View Position </span>
                    </button>

                    <button mat-menu-item (click)="editPosition(element.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit Position </span>
                    </button>
                    <button mat-menu-item (click)="deletePosition(element.id)">
                      <mat-icon>clear</mat-icon>
                      <span>Delete Position</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           </ng-template>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div [ngClass]="addPositionColumn">
          <app-add-position (newPosition)="newPositionCreated($event)"  ></app-add-position>
        </div>

        <div [ngClass]="editPositionColumn">
          <app-edit-position (updatedPosition)="newPositionCreated($event)" [positionId]="positionId"></app-edit-position>
        </div>
      </div>
  
    
    </mat-card-content>
</mat-card>