
<h3 mat-dialog-title>View Candidate 
    <span *ngIf="data.stat == 'inactive'" class="badge badge-warning"> {{data.stat}} </span> 
    <span *ngIf="data.stat == 'active'" class="badge badge-success"> {{data.stat}} </span>
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content class="container">
    <div  class="row justify-content-center pt-4 ">


        <div class="col-5">
            <img [src]="data.imageUrl" class="img-thumbnail " />   
        </div>

        <div class="col-7">
            <p ><b>Name: </b>{{data.name}}</p>
            <p ><b>Election: </b>{{data.electionName}}</p>
            <p ><b>Position: </b>{{data.positionName}}</p>
            <p ><b>Created At: </b>{{data.createdAt | date:'mediumDate'}}</p>
            <p><b>Description: </b>{{data.description}}</p>
        </div>
 
    </div>

 
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="close()" class="float-right">Close</button>
    
  </div>