
     <mat-card class="mat-elevation-z5">

      <mat-card-header>
          <mat-card-title>Add Candidate</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
  
     <div class="row mt-3 ">
          <div class="col-md-5">

          </div>
            <div class="col-md-7  text-center">
                <form [formGroup]="candidateForm" (ngSubmit)="addCandidate()">
                    <mat-form-field appearance="outline" style="width:500px"  >
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="SRC"  formControlName="name" >
                        <mat-error *ngIf="candidateForm.get('name').invalid"> Invalid input </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Position</mat-label>
                        <mat-select  formControlName="position_id">
                            <mat-option *ngFor="let position of positionOptions" [value]="position.id">
                                {{position.name}} - {{position.cat_name}}
                              </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Election</mat-label>
                        <mat-select  formControlName="election_id">
                            <mat-option *ngFor="let election of electionOptions" [value]="election.id">
                                {{election.name}} - {{election.year}}
                              </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="custom-file mb-3"  style="width:500px"  >
                        <input type="file" class="custom-file-input" id="customFile" name="filename"  #imageHolder >
                        <label class="custom-file-label" for="customFile">Candidate Image</label>
                      </div>

                  
                   

                      <mat-form-field appearance="outline" style="width:500px" >
                        <mat-label>Description</mat-label>
                         <textarea matInput formControlName="description" rows="5"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="stat">
                          <mat-option>None</mat-option>
                          <mat-option value="active" >Active</mat-option>
                          <mat-option value="inactive" >Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="row ">
                        <div class="col-12">

                          <button mat-raised-button color="primary" class="float-right mr-5" type="submit"  [disabled]="!candidateForm.valid"> <mat-icon>done</mat-icon> Save Candidate</button>
                        </div>
                      </div>
                      
        
                </form>
            </div>
        </div>

        </mat-card-content>
        </mat-card>

  