<div class="row  justify-content-center " style="margin-top: 200px" >
    <div class="col-md-6 col-sm-12  mt-2 ">
        <mat-card class="example-card ">
            <mat-card-header class="justify-content-center">
              <mat-card-title class="text-center">GTUC DECIDES 2020</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        
            <mat-card-content class="text-center">                     
                    <mat-icon>report_problem</mat-icon>
                    <div class="alert alert-success">
                        <p class="lead">Thank you for using voteHub</p>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>