<div class="row">
    <div class="col-3">
        <mat-card class="mat-elevation-z5">
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">extension</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{categories}}</h4>
                        <p class="lead"> Categories</p>
                    </div>
                </div>
        
            </mat-card-content>
        
        </mat-card>
        
    </div>

    <div class="col-3">
        <mat-card class="mat-elevation-z5">
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="accent">stars</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{positions}}</h4>
                        <p class="lead"> Positions</p>
                    </div>
                </div>
        
            </mat-card-content>
        
        </mat-card>
        
    </div>

    <div class="col-3">
        <mat-card class="mat-elevation-z5">
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="warn">contacts</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{candidates}}</h4>
                        <p class="lead"> Candidates</p>
                    </div>
                </div>
        
            </mat-card-content>
        
        </mat-card>
        
    </div>

    <div class="col-3">
        <mat-card class="mat-elevation-z5">
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">how_to_vote</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{votes}}</h4>
                        <p class="lead"> Votes</p>
                    </div>
                </div>
        
            </mat-card-content>
        
        </mat-card>
        
    </div>
</div>

