
        <div class="row mt-3">
            <div class="col-md-12 text-center ">
                <form [formGroup]="positionForm" (ngSubmit)="addPosition()">
                    <mat-form-field appearance="outline" style="width:500px"  >
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="SRC"  formControlName="name" >
                        <mat-error *ngIf="positionForm.get('name').invalid"> Invalid input </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Category</mat-label>
                        <mat-select  formControlName="category_id">
                            <mat-option *ngFor="let category of categoryOptions" [value]="category.id">
                                {{category.name}}
                              </mat-option>
                        </mat-select>
                      </mat-form-field>
                  
                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="stat">
                          <mat-option>None</mat-option>
                          <mat-option value="active" >Active</mat-option>
                          <mat-option value="inactive" >Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="width:500px" >
                        <mat-label>Description</mat-label>
                         <textarea matInput formControlName="description" rows="5"></textarea>
                      </mat-form-field>

                      <button mat-raised-button color="primary" class="float-right mb-1 mr-0" type="submit"  [disabled]="!positionForm.valid"> <mat-icon>done</mat-icon> Save Position</button>
        
                </form>
            </div>
        </div>

  