<app-preloader *ngIf="isLoading"></app-preloader>
 


  <div class="row  justify-content-center " >
 
    <div class="col-md-6 col-sm-12  mt-5  ">
        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header class="justify-content-center">
              <mat-card-title class="text-center">GTUC DECIDES 2020</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        
            <mat-card-content>

              <form class="text-center" [formGroup]="tokenForm" (ngSubmit)="loginToVote()">      
                <div class="alert alert-info mt-3">
                  <p  class="lead">Token sent to:   <b> {{ phoneNumber }} </b> |  <b>{{ emailAccount}} </b>
                  </p>
                </div>
                <mat-form-field appearance="outline" style="width:300px"  >
                    <mat-label>Token</mat-label>
                    <input matInput placeholder=""  formControlName="verificationCode" >
                    <mat-error *ngIf="tokenForm.get('verificationCode').invalid"> Invalid input </mat-error>
                  </mat-form-field>

                  <div align="center">
                    <button type="submit" class="btn btn-primary btn-block btn-sm"  style="width:230px"  [disabled]="!tokenForm.valid">Login</button>
                  </div>
              </form>
                  
            </mat-card-content>
          
          </mat-card>
    </div>

</div>  
