<app-preloader *ngIf="isLoading"></app-preloader>
 

<div id="particles-js" > 


  <div class="row  justify-content-center " >
     
    <div class="col-md-6 col-sm-12  mt-5  ">
        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header class="justify-content-center">
              <mat-card-title class="text-center">GTUC DECIDES 2020</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        
            <mat-card-content>

              <div class="row justify-content-center mt-3">
                <img src="assets/images/gtuc-src.png" alt="">
              </div>
              
              <div [ngClass]="showIndexForm">
                <form class="text-center" [formGroup]="indexForm" (ngSubmit)="generateToken()">
                  <mat-form-field appearance="outline" style="width:300px"  >
                      <mat-label>Index Number</mat-label>
                      <input matInput placeholder="040854116"  formControlName="indexNumber" >
                      <mat-error *ngIf="indexForm.get('indexNumber').invalid"> Invalid input </mat-error>
                    </mat-form-field>
  
                    <div align="center">
                      <button type="submit" class="btn btn-primary btn-block btn-sm"  style="width:230px"  [disabled]="!indexForm.valid">Generate Token</button>
                    </div>
  
                </form>
              </div>

              <div [ngClass]="showTokenForm">
                <form class="text-center" [formGroup]="tokenForm" (ngSubmit)="loginToVote()">
  
                  <div class="alert alert-info mt-2">
                    <p >Token sent to <b>{{ destination }} </b>  <br>  Resend in token in <countdown [config]="config" (event)="handleEvent($event)" #cd></countdown> <br>
                      <button class="btn btn-outline-info btn-sm" [disabled]="!tokenTimeout"> Generate Token</button></p>
                  </div>
                  <mat-form-field appearance="outline" style="width:300px"  >
                      <mat-label>Token</mat-label>
                      <input matInput placeholder=""  formControlName="token" >
                      <mat-error *ngIf="tokenForm.get('token').invalid"> Invalid input </mat-error>
                    </mat-form-field>
  
                    <div align="center">
                      <button type="submit" class="btn btn-primary btn-block btn-sm"  style="width:230px"  [disabled]="!tokenForm.valid">Login</button>
                    </div>
  
                </form>

              </div>
         
                
                
              
            </mat-card-content>
          
          </mat-card>
    </div>

</div>  

</div>