
        <div class="row mt-3">
            <div class="col-md-12 text-center ">
                <form [formGroup]="electionForm" (ngSubmit)="addElection()">
                    <mat-form-field appearance="outline" style="width:500px"  >
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Tiger"  formControlName="name" >
                        <mat-error *ngIf="electionForm.get('name').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                    <mat-form-field appearance="outline" style="width:500px"  >
                        <mat-label>Year </mat-label>
                        <input matInput placeholder="2016"  formControlName="year" >
                        <mat-error *ngIf="electionForm.get('year').invalid"> Invalid input </mat-error>
                      </mat-form-field>

                   

                      <mat-form-field appearance="outline" style="width:500px">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="stat">
                          <mat-option>None</mat-option>
                          <mat-option value="active" >Active</mat-option>
                          <mat-option value="inactive" >Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button mat-raised-button color="primary" class="float-right mb-1" type="submit"  [disabled]="!electionForm.valid"> <mat-icon>done</mat-icon> Save Election</button>
        
                </form>
            </div>
        </div>

  