<div id="particles-js">

    <div class="row  justify-content-center " >
       
      <div class="col-md-6 col-sm-12  mt-5">
          <mat-card class="example-card test">
              <mat-card-header class="justify-content-center">
                <mat-card-title class="text-center">GTUC DECIDES 2020</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
          
              <mat-card-content>
  
                <div class="row justify-content-center mt-3">
                  <img src="assets/images/gtuc-src.png" alt="">
                </div>
                

                  
                
              </mat-card-content>
            
            </mat-card>
      </div>
  
  </div>  
  
  </div>
  