/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color:  aliceblue; overflow: hidden; }
canvas {
    margin-top: -500px;
    display:block;
    background-color: #07294d;
    z-index: -2;
}

.avatar-container{
    margin: 4px !important;
}

@media only screen and (max-width: 600px) {

    *{
        overflow-x: hidden;
    }

    canvas {
        margin-top: -400px;
        display:block;
        background-color: #07294d;
        position: fixed;
        z-index: -2;
    }

}

